// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@uppy/core/dist/style.css';
@import '~@uppy/dashboard/dist/style.css';

.g-recaptcha {
    text-align: center;

    > div {
        width: 100% !important;
    }
}
